<footer class="page-footer overflow-hidden py4 mx2">
  <section class="max-width-4 mx-auto clearfix center">
    <nav class="site-nav text-rounded mb2 text-small">
      {% if page.layout == "home" %}
      {% else %}
      <a class="inline-block mr2" href="/">Home</a>
      {% endif %}
      <a class="inline-block mr2" href="/#work">Work</a>
      <a class="inline-block mr2" href="/#contribution">Contribution</a>
      <a class="inline-block mr2" href="/about/">About</a>
      <a class="inline-block" href="/writing/">Writing</a>
    </nav>

    {% include social-icons.html %}

    <div class="text-small mt3">
      <p class="mt0 mb2">
        ©datageekette {{ site.time | date: "%Y" }}
      </p>
    </div>

  </section>
</footer>
