<!DOCTYPE html>
<html lang="en-us" class="no-js">

{% include head.html %}

<body class="blogpost writing-index">

{% include header/writing.html %}

<section class="writing" id="writing">

  {{ content }}

  <div class="constrained">

    <section class="pb4">

      <h2 class="text-rounded regular neg-letter-spacing">Would you like to read about <a href="/writing/data-science">data science</a> and <a href="/writing/machine-learning">machine learning</a>?</h2>

      <div class="articles">
        <ul class="article-index list-reset">
          {% for post in site.posts %}
            {% if post.featured == 'data' %}
              {% include article-index-template.html %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>

    </section>

    <section class="py4">

      <h2 class="text-rounded regular neg-letter-spacing">Are you interested in technical topics like <a href="/writing/code">code</a>, <a href="/writing/python">python programming</a> and <a href="/writing/code">best practices</a>?</h2>

      <div class="articles">
        <ul class="article-index list-reset">
          {% for post in site.posts %}
            {% if post.featured == 'code' %}
              {% include article-index-template.html %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>

    </section>

    <section class="py4">

      <h2 class="text-rounded regular neg-letter-spacing">Or, maybe you want to browse articles about <a href="/writing/self-learning">self-learning</a>, <a href="/writing/life">life</a> and <a href="/writing/travel">travel</a>?</h2>

      <div class="articles">
        <ul class="article-index list-reset">
          {% for post in site.posts %}
            {% if post.featured == 'learn' %}
              {% include article-index-template.html %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>

    </div>

  </section>

</section>

{% include footer.html %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{% include closing-tags.html %}
